// https://github.com/sass/sass/issues/659#issuecomment-64819075
@function char($character-code) {
  @if function-exists("selector-append") {
    @return unquote("\"\\#{$character-code}\"");
  }

  @return str-slice("\x", 1, 1) + $character-code;
}

$icon-font-family: VideoJS;

@font-face {
  font-family: $icon-font-family;
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAABM0AAsAAAAAITAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAQQAAAFZRjF3WY21hcAAAAYgAAADVAAADMPOGIQ1nbHlmAAACYAAADb0AABeUiEIbhGhlYWQAABAgAAAALwAAADYUoSsraGhlYQAAEFAAAAAbAAAAJA4EByBobXR4AAAQbAAAACAAAACI5vAAAGxvY2EAABCMAAAARgAAAEZokmLGbWF4cAAAENQAAAAfAAAAIAEzAIFuYW1lAAAQ9AAAASUAAAIK1cf1oHBvc3QAABIcAAABGAAAAaukKDDLeJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGQ7zTiBgZWBgaWQ5RkDA8MvCM0cwxDOeI6BgYmBlZkBKwhIc01hcPjI+FGRHcRdyM7MAFLJCOIAAC6pCwkAAAB4nO3RSY7DIABE0U9MnMmZ5znsc6ocqFe9zCU5QUJRfYy29PgywsgCoA80xbOIEH4J6Pkps6HON4zrfORV10TN5/T5lDFoLO+xjr2yNpYdWwYMGZXvJnRMmTFnwZIVazZs2bHnwJETZy5cuXHnQSpbtPw/nYbw/ntLOmWr594z1MZ0fzmabiL3TXebW0MdGOrQUEeGOjbdeZ4Yamf6uzw11Jmhzg11YahLQ10Z6tpQN4a6NdSdoe4N9WCoR0M9GerZUC+GejXUm6HeDfVhqMlIX/0JUFoAAAB4nJ1YC3Ab1bnef1e7a1mWZD1WsiVb0kqWZMu2LFuvxLJl2Y4fsRO/gpPm5WBIcIwDJNAGQ+qgW5vMACUJXJSb4dGkzVxuS5op7dAyTfpwmSkNc+eWdEoCDM1c32l75xLmcgstDH5o0/+s5Fccp+FqpXPOnvPv0X/+8//f/52laIq6nuZaeYbSUUaKUoKH53hO0BnNNohCHDygA049u8HtdAsFheY2p+I1p7lgVqc4yFxldEaaKXLUTX9RJxazJia/oLVl7kP22+kARTEUfrgRboSiKSsVwplpg5PXAM/l48xmkyMah2gk3+sHr4dxylVI7qqRh42yKP0RTEqJ1Mmnjvx2bSy29rdHnoLAYvvkIw+MvFxZVVX58sgDny426QD04PWCLCNdWvHszOSNT2SaFKVAW1zngKcoA+WiolQbRYHo1ABawwZBsSYOYV3ID4yRKwenB9uRGNSYBPdtyNDJ65Qr5nTGXEC5al1Yu61Jq1suGOo66cNhyMosjvEU3s5kuzlST09aPB4LmyTl5K0G5fVQFE/jegTKTZVRLWR/XfPKxgDmtYUbtFWCTgkG3HyOV4EfOJPZwGjAFIlawQYRj5dpSf/3a46oA7+v0Ra5kX7TVVhX6JIL2iLthDP096eNjCtinJkWwiUMqZiSiHF6xhhxMUaekhKlLaXpV7CQW+wVLGZP2ysq7DBJyrkwtDHt0JYWYE1hc6XCIr0FUYuisrlQuihdlHsgKr0l91BZf2OvLKz19lcKbCJ951TZutLSdWVT9Gm5kY5W2DuIFljQp9Of0arbV3je7tSCLvVfShthwf+F+RBhPkofetfT5PU2et+lH/dioyl9h6+43eYrJwU9IangMxjqHXd7PO7x3tFfR2tro7++fZX/J6Ub3tj1o66Nw7qU/pn7DwB94P5n0JzZdQAig4+qpeLUFoyIEAnWG5S8/eW5BZMZr3yeU/BCZAkIsP/qrzw12DRsw89w0+CpSn96Iv3FOUfYbg87ztE5ciP9nrOgtkAUsXDSOdI+eA7E7018Y31He7s0e+7Z5OGfh8Lh0M8PJ5nkA4MDY9qkdlvjupPrGrdha2xgkNkvPYahIpFQkR7DmGNpLOYarB6PFeSQm/slFNKXoPD6uHvfvlNnpMe//eJ75eMFXV2fnngB+l448WlX1/z+gmyXUqqO6iE4AV4whDxOGTpNCASRkOdm4GEwasAlOv3kLk76bSDgPWfEZ8CMuGGqieCQh8mXnoaxHmmCFv2iPr8APjeLIj09M1k/VFc3VM8m5DpoC9lmJrHAL5vA4hUpF+XM8JA03gNfJ886EQvHuqUJ2E8GpJwCrQ572VdxkmWTTU8tmQa/KCSNd8PXpePyhF8UOJas20B5qRjVLePjCtXdS22RNYXhNk3BaFYugH5jiSmcGUuI/8gQTPvKBUwtN4QDJej3/pEdcMn0knW7Vs0JuBTZ1bHTJHDJZbiMtccyk5wH51ujOsUt5M4cSo0YYsN/rZBzs8uJ2RncGC/AihCJRsIhFki+NppFFkMSgmAK1kQjUaB/Abv7eiYOHbwb9MzR4P+ekj6m/5y+BI/uDIbn9NJVrLR0IP0nHAH9qHR1UzeRlT5m/kLvNVSW90reh8/M1EnezvRD9zw2cayzE76Q645O7Ib3pRwiBO9nMIIbYa+gbcyY6e2rWQhEQQQxLLL4Ixd7eXZzWUtpaUuZ4hW5nq0En3SFvpY20dcw7V8BH2mxlxGW55IZeGZInT6bki6nUqkTKWoe9zmH/P/lVPMq/+0Ku4RgOCjcAEjsav1PzV4rJTqVKkxynf7G/lRqf7l9iqDmlL2cVpF7uSl33kTLz91TbjmFgE9OJMtvs3vsUHyOK+ApFaWV7UcZgmGXLvsj1tKRnyCGp1LyB8oVwuxHmR8TPoHcCCZTUoI06P4UMQjI8/4Mcw9hL8Rd3OgkXjdiruwYkZDX4/U4+YzTsNiWfYozmuclWHkE7xbF2bu3dXVWScc8+ZAMJJrXD/R0+auq/F09F0gjX1reObA2GqyE0zQtS/R2EZbV1Uv/sMK3/vcbuisjH4SKbaTnwsIDFdEPwtg3L27QOz9R5+fsnH8UBQk9y8QhtxXjolnGXFQOE4iX8YMWPFVIVAiQajEevEhcGM5kB1wW5iizwQYNgLeyT0QaMHDMSGYMyGRYhB8EH4QeBCP2LMt+K5fjT/CWvPN1TUWMoJGuaAS6aF3tebWFT/Gs6iWWfUnFYtOiPh9rLqIFDfiWS6TXtI22to4eJQUT9cV9h5TWPGDylGyn3/qmRq/XvFlU2ckq86R0nlV5KCuANysE8CGrsjE7FRbZvSW4UICeYlzBox0yaU6tIMpZEswkVyHS1IJtM3NXy57zJbn6qrOvQtO5kS9N0JllOsb/P1qSnLOw5ajyk0feJn/+9pEnIbDYXkXlobqhR0miwIJoj4LSpRUTrKY93V+ffbZuiMpyCM7BiRj3duSIlbdALkQDRKkYkMSiI4kmiuhwU4zaj98TGYSRriBEcQ7C+JbKzSURRSYvXCAC9or9UzfufcktrGrgleBVQlRJsv1q2311WPqb9LdhUEmfDUMe5A1Ln62+1XPKZYKgwocX8y2FrLM/wzEIItlJpnM5CSB5XaasdiSUCXAR5uFFxlVD0A7BAKErWEOGzEFPNjgILhC4y1A07mL6kllU5xi/u/W+A4+eOf7NnbssfzR2dX5y4kXofiH1yA8K8ow6s8hrpjfSgVUEpR+i4KvmrCB9WjTr9LnGf9tQ5utof+yfXjrz7NPv1tbFakdeLVRqRTMd0KktMHlrofTv9GrLAueg5LMoYl8ZLOdJOvRjURc0iOEQQekYhDNL47liQHfRcY4bCJI0es0l/TU3r8geOWqtaW7c+5Kv8sMPF8czJIj+MWjPlVvsWt2nDKPY1N134KL0SbpzwV+Poj4BPEfeSe3DfTHaGMGIRN7lxD8Ph1APZCaoEG6SfEuU5V2orVHDeGtktuKnZSUFfNRQE6exA6oQu2nUXYOT2WgICujwYVcY0zJjT2zflgi0S9dOTfx5rXtrxzjoHHbBb3ru39sbNv5+P3znyfGODdUtrdXPenosYWfDvQlfb2GVsbx+a6R2ZHtUozXYcovcXfmO8N4HNkVaD4wxI5cvD7/zzjDzp5KW5p5k17ZNjz606c66tt4n/X16X6KspFrxq+f6no80Jb7S8M1t7Q+1xRJx0br2ntojY31eMbbHPzTUF5r7F0toIF4YKClwqczFa2hNyZqdsdaRWDGzb98HH+x7P4tTSW4ftjTowxToRB2YZI4RitSYyG0os1uCDsl9FXIjV5wJ4shV6SewC4buoPt2D728W3FMer13c0O/oJJepwFgPW30tQ01nL2kODYnMv8JNevvuuufBwfnrqYv0vrhh1uCtmD6XTgGfwkEjjsCa+x/XO5HmDMNC96zyLxBTvRkd7yRKMdjvHO8P3OgM5pJsOF2mbCB2wNmEoCkkiMRw2tqmf/UDdHqk8mDW/oqyqE5EG91hdXN3Y4tgYbhOPf02CNb7NGqaHXgDiTWgsl0sKOurbPbVtj1le08dSMNn/lpLHr3joMPfs2QG2izKoWm0lKt0xMfbigo4hvj90bitXsctJWJ7mpU5ShatkKg0MJUW6zL1tuxynoR3TIwEtYRT62WXTcTRgRhcR+K5aOrfJLDbkQek7BipYrKotF4zlhvs6NwRKnWqHZVezlGPKVUX1Cq1coLRSZbSYlBYGsUcJPVPWH3QtTf29AKzerck3lGhdiXuKNErZQkde7rSrV0ucZiBC3Pao+reCWV4XXXr8vrOkD8SV4QMhkCgoS16cPysTxL5nh5x/AiXEdeqIwSGUAUSCZ0oTEWdt0PWTqYgVhy2WH5wUxewlxHf0F9fktlVeDZgw9OYG6778Dh5w8f7O8tL6uuqIpptEwRk2sXhHBkcPjI6MCOULis9OktgU6nKtdqUmocxdsrqorsPJeTY3L68nRA5+VIv1hilSxoHd11zR7U5m/qgYLvPnzv0PO+8mr/5t777v3a+hfrEkUcp96vVXvqG+L3D95dGw/WbNvx1fG9ex4M9AV8mzvENSX1bqeq0BKO9Xg91gL9jqdejfU3rN3NLEIdMSLJL4q3kXGL1Bo8x96DVv0qsWswIucMvOQcyHMkl3iiyBYjaCWdkTVFZf4YCUe8Lo4YjAij5bLd0SXd5E3HTbvZYAMIQZ2LUwEIXqaoaK9/Q6i+YmN5VS7fv65tU3hv2Af02b4RJR+4KwGHLXpVfm6J0QyHi4GhOcZrtkJJttMEcNgGCppVkF5XoeEmvdPNHzf+1yv/of7k/2jTUXiLTtNILbX26I49j2w9WVWdowCgGcUbzOYNTbtDrJTi3+ANKocx0da96TfncnJYJde2Ycf2yfNfondyN+xh8gRpXDoC6WmYP5eI3E/ISTbLMLLvi3QkiS0StWKS2DL8J8Plkk+MjZ4PhnEDp6TLZaXPDAy+MzjwTGmZdHkK9zMcPD86xv04FLwwOvZE+nOSxPpTI4MDx0vLykqPDwyOpNJn8VE6F2e5EAwt8B02wSawxZE30/iHOpikD6Ufpz9CdkSuuSSTXC7LEFnAbSOvsSaRRbH0ITYxlySvqDOyJEYlbh26l27htL7kTTpnmW30ivJr9Han4pcFej3zB0YrFDmapmfrRJvCxGgL1+EJ9u+NVF6mAAAAeJxjYGRgYADi5e+ys+L5bb4ycLMzgMB1+w/iCPr/X3YmdmYgl4OBCSQKADkKCnEAeJxjYGRgYGcAARD5/y87EwMjAypQAgAtbQI4AHicY2BgYGD7z8DADqXxYZAaZIxNDFkOWZ6QOQAYVxDIAAAAAAAsAIYA7gFkAaoCDgKaAxYDkgPKBCAEYAS8BOgFVgXWBgQGVga8BwIHSgfMCBQIqgjwCWgJ1Ap6CzQLeguQC6YLygAAeJxjYGRgYFBiKGVgZwABJiDmAkIGhv9gPgMAF+4BtQB4nF2QTWqDQBiGXxOT0AihUNpVKbNqFwXzs8wBEsgygUCXRkdjUEd0EkhP0BP0BD1FD1B6rL7K140zMPN8z7zzDQrgFj9w0AwHo3ZtRo88Eu6TJsIu+V54AA+PwkP6F+ExXuELe7jDGzs47g3NBJlwj/wu3Cd/CLvkT+EBHvAlPKT/Fh5jj19hD8/O0z6NtNnstjo5Z0El1f+mqzo1hZr7MzFrXegqsDpSh6uqL8nC2ljFlcnVyhRWZ5lRZWVOOrT+0dpyOZ3G4v3Q5Hw7RQQNgw122JISnPldAarOWbfSTNR0BgUU5vxHs05mTSraXADLPWLugCvXGhe+s6C1iFnHzBjkpFXbr0lnnIambM9ONCG9j2N7q8QSU864k/eZYqc/kzdX5gAAAHicbZDZcsIwDEVzgYQEypLSfS99zkcFRxANjp16Afr3NQFm+lA9yPdqJPvIUS86RR79H0v00McAMRIMkSLDCGNcYYIpZpgjxzUWuMEt7nCPBzziCc94wSve8I4PfGKJr2jQyvJnfEyFYCMkxW3pLY13WvqGisY7Gp211PuLbLi6dNS8qedrL6UVhkgVpByZ2d/CgV1iv31paGhbVopMZv3KsZNkU1G2jrUKog6KjI1tHTr7Qm+SE9D0dBTaO8mKFmfbXXRm7tVVIkolSCaGjruk61LQSuttvGmlt2kY3FLFauj27MIrifPNSpos4ARH1uWlr1gXFQVo7ojirpIpOriCHTWT1tCOtbedG3U/ZrXkKop+AQFGems=) format('woff');
  font-weight: normal;
  font-style: normal;
}

// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
$icons: (
          play: 'f101',
          play-circle: 'f102',
          pause: 'f103',
          volume-mute: 'f104',
          volume-low: 'f105',
          volume-mid: 'f106',
          volume-high: 'f107',
          fullscreen-enter: 'f108',
          fullscreen-exit: 'f109',
          square: 'f10a',
          spinner: 'f10b',
          subtitles: 'f10c',
          captions: 'f10d',
          chapters: 'f10e',
          share: 'f10f',
          cog: 'f110',
          circle: 'f111',
          circle-outline: 'f112',
          circle-inner-circle: 'f113',
          hd: 'f114',
          cancel: 'f115',
          replay: 'f116',
          facebook: 'f117',
          gplus: 'f118',
          linkedin: 'f119',
          twitter: 'f11a',
          tumblr: 'f11b',
          pinterest: 'f11c',
          audio-description: 'f11d',
          audio: 'f11e',
          next-item: 'f11f',
          previous-item: 'f120',
          play-solid: 'f121',
);

// NOTE: This is as complex as we want to get with SCSS functionality.
//
// Now that we have a map of icons above, we can iterate over that map and create an icon class
// for each icon in that list. The iterator below produces CSS classes like this:
//
// .vjs-icon-play {
//   font-family: VideoJS;
//   font-weight: normal;
//   font-style: normal;
// }
// .vjs-icon-play:before { content: "\25b6"; }
//
// We can then use @extend in the codebase when we need to add an icon to a class. @extend builds up
// the selectors for you so you can avoid duplication. This is generally a bad idea, but since each
// icon should only be extended one or two other places, we'll roll with it.
@each $name, $content in $icons {
  .vjs-icon-#{$name} {
    font-family: $icon-font-family;
    font-weight: normal;
    font-style: normal;

    &:before {
      content: char($content);
    }
  }
}
