// https://github.com/sass/sass/issues/659#issuecomment-64819075
@function char($character-code) {
  @if function-exists("selector-append") {
    @return unquote("\"\\#{$character-code}\"");
  }

  @return str-slice("\x", 1, 1) + $character-code;
}

$icon-font-family: VideoJS;

@font-face {
  font-family: $icon-font-family;
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAABQAAAsAAAAAInwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAQgAAAFZRi13ZY21hcAAAAYgAAADeAAADTPOs5ipnbHlmAAACaAAADl8AABiMfLN262hlYWQAABDIAAAAMAAAADYUmzYYaGhlYQAAEPgAAAAdAAAAJA4DByJobXR4AAARGAAAACQAAACQ9O7//2xvY2EAABE8AAAASgAAAEpndmE4bWF4cAAAEYgAAAAfAAAAIAE1AIFuYW1lAAARqAAAASUAAAIK1cf1oHBvc3QAABLQAAABLQAAAdgKTdIReJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGQ7xziBgZWBgaWQ5RkDA8MvCM0cwxDOeI6BgYmBlZkBKwhIc01hcPjI+FGZHcRdyM4IVMzAwAjiAAAvqQsLAAB4nO3R2W3EIABF0cuY8Wyefd8XflNXCspXCkljVDDh8VJGLB2ujDCyAOgDTfFRRAjfBPR8ldlQ5xvGdT7yWddEzef0fpcxaCzvsY69sjaWHVsGDBmV7yZ0TJkxZ8GSFWs2bNmx58CRE2cuXLlx58GTF6ls0/L/dBrCz99b0klbPfueoTamO8zRdBu5b7rf3BrqwFCHhjoy1LHp3vPEUDvT3+Wpoc4MdW6oC0NdGurKUNeGujHUraHuDHVvqAdDPRrqyVDPhnox1Kuh3gz1bqgPQ30a6stQk5F+AQ/ZVV4AAHicnThrcFPXmfe7V/fKsizJely9bEu6ki35KcvWy1hGNtjGYBNjm0CCARMnEOOYBDu0BEIMak2ZJjQ8shHLhKSUJiU0DDPZnTbZhW3Xm5l0k9nZhpnGpJkss95N+6MwS5psw8QPHfY7V/IL43QTX+vcc77znXO+872/ywDD3CFCk5Jh9AyjAq/HrRREvcnigCjEwSvYp1b4pCLRarOsdiv+2WowcP/B6cR818qJqTrJoTBzOltTI8MwHP4YYUAYYFgmjwnhXqzRrdSCUsjFvSxmVzQO0Uiuzw8+L+eWXyEZVC1Pm2RU9iaMkobk6aNHfrssFlv22yNHITDXP71/98D5isrKivMDu7+Y67IB6MDnjIxDri5aOzl694p0l0FKmTt3BMC7Gxkfw4Dk1gLe3QFBqToOYX3IDyWwGMYm7jCemNsd8wDjqfW4Y+z1O7SDMEhPKBmcnMwgCZn3gnGaX0oWz1YzFibIMDbAQ2Kg9+CBKtDDzGlgpGJQqsEPgtli5LRgjkTzwAERr88Vdf3iF9hwzWQrvIodV5T90YSJ80RMkxOmSCGHL5ErjJgmJk0RD2dSXEy9UdxczCWKm9kK8trUP5DXcMhfw2Y6ATW2xgqFnbwPUbuiotFG3iPvyRCIkvdlCCWZpQ1/LUM3A/olqC4rbioZHy9pKlaIqS9ZNXaKm77m+Aw/mMy+ZVQX5+0275QicVZfxBmV4m4SNdz2rfT6Vk7d8q3wffQRNnxX50iR11s00rnv3WhtbfRdJbPwzNQcOW8m9f33tf99+339+qTh5BNDwA49cZJRZGgCpMnFlDPNC6UEIarGd5Ezn+wi0WzBJ1cpKJRiZJ4BOMOuS5dcYSf/M3/F2d6V/Q7861/Ze7bCnzpMdsGLOOUMA/z88PfXtK5eTaYuvZA4+KtQOBz61cGEIkGoAnGoYuT67t6eYV1C172i6XTTim7sDff0coNkbPp+MoYaybPYHBop2rXr7KvkB+de/n3ZiLW9/YtTZ6DrzKkv2tuZjA3IfLcyVZTrPq8PnYAgGk0Wc5CvjoRDPm8lyhZfniKEI9gJYAF6syBOszvJuWGb1ixa3WDU2+FTq9ugFodhO3fLaLAT0eY2qc0HyasXoDthp2geLpececaenStZSYHNYAS31YgTw/CQ4kE7Dj1WMU8nHiLnL8Dm79my9Z45vZujE+5NjD6EF5i9gn7eFXzslN5GCqxuo1p8hrxyAXqG7RqLaJXYJGy5QM4fsmtx5DYZ7HCTIpnZaUqZya5D9J9cgB3DdpXebYVPbawJui+QnyXsSJqV6G0GU4bkDI2A+mJkPPf2J5xJ8EhuL/YjCDSLQuJuN+G1TybsXq+dx3axH5kYnZnz2hlh1udmMRpGZBx4avmsF1dCEeoa8BJEosgCHgQlZZjEo8JCEJBf0UgU2F/D9q6Owwf2PgIG7ljwf86SW+wfU1fh6a3B8LSBXMeXjg2k/oAzYNhHrq9fR3HJLe7P7E5jRVkn8T316mQd8bWl9jx66PDxtjb4Sn63tiEYPiZZFAk+Zvg0rfw15I0FI4RzKQ6BJEoghSUef/Thx6Y2ljQXFzeXKN6Q31MVUEqusTdSZvYGhotrUEp7/Bg6nOmE7GdKOPpOXUySsWQyeSrJzMYnl3x+GdO4xNmesEcMhoOiSSiDtJRigFLil4IfnbpRTGkqVpjld+r7g8nkYJlz3Flejk0Zq6ZjuSsD70Hl7aLxolaKDqW0bV04zMjYpbiNN1CiH9LJ/GOMwbBHn/lRbunpT5TC40n5D8oU4tTN9I8Ln8KYCqNJ0kA77IYkZQjI+/4T2lMLDqi6FFE7KZINCRUjQm3GS+FUaXjZoujAZJnB4OUZHM2h8490t7dVkuPeXEgEGhrX9HS0+ysr/e0dV2gnlywE9iyLBivgJywrY3S20+jc3sn+XXnpmt+tXVcR+SRU4KCQK7MLyqOfhBE2g240uD/X5GZtnVmKiDSsp+1Q2IR20ch04O2QOHS+Ps4POkBf5gc0QUGH9uDDwMoJ6ELwWujBLUYH1AMOZZ2I1KPhWDDYGjHS8m4/hOJQ7QCTFviLPP/jbEF5SmnPuVy3Mp8TteSaVmTzm2ova+zKpJJXv8Lzr6h57No1l2ON+ayohdKFGKmaln2rVu07RhsuWhovPaDKywEuR8W3+fN+ozUYtL/Jr2jjVTkklZOnOpBBwMEiBFyUp1qR2QqbjGypX7CippgW5V8uOdlKLkqwMskTl1giAZv1w5m9q2TN+YY53pK7L5HeCQPfOLHjFtAY/zZUGlHMsyJHkp878gE9/IMjz0Fgrr8EyX11fU/31ckNpR4RydVFGyxFPbtheWZtXR9eQ5G2f0FCu3cyJUzF13gu9AbopWJAA4ueBpooeod7+qhB/D+V9jDkGroowYVTC/CmE+hFRq9coQjO8sHxu2Vf+DVcNSoxCqsgqsJAs6S4r/eTv5C/9IOafNkPOZDTT75cWtTTqgWIoMbFSMCdO3K8TfuwSFSOc140brmEkb0UmrPFLKZl6pKJC4coXjQsyDBxvnXIeYIwymfbVDrJkrqq19gli96QbXp9bUlZOHh5/zD5bHjf5WC4dfWh7/34tZPHPqqtW9X01bnz8Pj5c181tdTVDgiDfLY1x6S3SEqtJ3XVImmyTBe6dw09/cPh/bgQN9k3/OxrJ45u3Zb336b2ts9PvXzhrddx7Sq6z+tvvX4muX9+rmNk0J+VUE1EKcepvB1U8lqQ9EGjlL5KDMLpfEcpFACqgF5wTY7KOrScb5DfZN8ND/nf7Jx8Z+RYXnXjip2vlFb86U9z88tlfPaXoLtUZnfq9F9wnGL9uq6h98jnqbZZHTyG9AQwB36I2YXcNjk4ZKug8Li9lKdIB2YbSJCAADqkxCo9SK1Jy/mqZcn4WZlIEZcaq+MsAqAS/TGLtGtxMwcLQRGVOOwJY6jlnA2buxsCq8mNs4f/uKxoU+sI6F1O0W9+8d9W19/3u0H46XMjrWurmldVveDtsIfd9Y81lHbaKk1lyzdFagc2R7U6oyM7v6g91xXeuXt9ZNXQMDcwNtb/4Yf93B8Kmxs7Eu3d65/es/6hupbO5/xdhtKGksIqxb+82PVSZGXDg/U/6l69pyXWEJfylj1ae2S4yyfFdvj7+rpC039rD/XEbYFCq0dtKahhtYU1W2OrBmIF3K5dn3yy6+OM70kIu7CnZUpphSTpwSznDaFItZkOQ2lpiXrJkFuJ+Y4nzgVx5jp5C7ZB3/1s1/a+89sVx8nbnRvrN4hq8jYLAGtYU2lLX/3Fq4rj0xL3n1C95uGH/6a3d/p66j3W0P9Uc9ARTH0Ex+HPgcAJV6DG+elCPcI4aJzVHjSRjEaBHLxl1Y9EBSVagaDE+EgdjMnipeYgmszYQfGABWXroy8l7aBdjS/Qn7o+VnM6sfeBrvIyaAzEV3nCmsZ1rgcC9f1x4fnh/Q84o5XRqsD9IYdDNJv3tta1tK1z2Nof3Kxk5nZIa+TkP8aij2zZ++R3jdmBljyVuLK4WOf2xvvrrfnKFfHHIvHaHS42j4tuW6HOUjRvgoDNzlXZ8xbct3WJ+6LRI/FUZ/VUU6tk1U2bEfWaKIcCoFmeXDsgGLMBs7jopoqK/H3xrOHORpdtQKXRqrdV+QROOqvSXFFpNKor+WZHYaFR5KsVcI/bPev0QdTfWb8KGjXZp3NMCqmr4f5CjYoQTfbbKg0Zq7abQKfkdSfUShWTztUyNdqQXHHTC6Fno46L+jhDWC5EMwmaUpYYPjR/kS8qe4lgtWXGE3qQGbNS90MmxaNZUHq9E6QFDke+wnTrBuvy3OaKysALe588jPHq8aGDLx3cu6GzrKSqvDKm1XH5XLZTFMOR3v4j+3q2hMIlxc8/EGhzq7PzzCqtq2BzeWW+UylkZZndpTl6YHOyyK/ncSXjtI5tu+EM6nLXd4D1wlOP9b1UWlbl39j5+GPfXfNyXUO+IGgGdRrv8vr4E72P1MaD1d1bvjOyc8eTga5A6cZWqaZweZFbbbOHYx0+b57VsOXom7EN9cu2c3OujjKRxgzFB5hFS0wNs455FLn6HcrXYMRiTj9yaFAKtPD1RjEDjCCX9CbeHJVzwkg44vMIlGEUGTmXAUfngWnlf08wH6wHMaj3CGoA0cfl5+/0rw0tL7+vrDJbuaGpZX14Z7gU2ItdAypl4OEGOGg3qHOzC00WOFgAHCtwPkseFGaAZoCDDlCwvIJCPTbjPaATjbdW/Ncb/675/DPWfAzeZ1Mspos6Z3TLjv2bTldWZSkAWE7xDrdx7crtIZ4kle8ojWqXqaFl3fp/vZSVxauElrVbNo9e/gbQ0e2wg8sRyQg5AqkJmKk1JOEtWp1msgYx80mHBrG55KuABrZ0TpPOzxLPygEXBThOxkqKT/b0ftjbc7K4hIyNozzlcCr8MhS8glE1dZsGsQ3Jgd6eE8UlJcUnenoHkqmLuJTNxl2uBENz368a+AbsCfQrJR6oh1H2QOoH7E3MeOgzneASC3E5igsoNvp5ZxQzI549wDdMJ+jnyjSuYrb2NzHFTJ1cd0hYfhtD3pkvEVhShLz3St6MC1xUOsjTEgVTGImmUCaz/GnDy+WS52G4gxxmJT+GDivctkgSO3FXtA86Qo7JUWzwn2/A5g2SjXgW2ENGOuAZutYNHTC8jhyGQTpBsqw6PUL5N+92VRPj87bBf0QiI+vgGXJC3vArq2vevek31BjaE81PF5FeNJ8XGVYY/5+s4LSLL8C+M48V7jQnpL/GCG714guML2SECzHY3/81PszmRLR+Xs1sYB5mdn/LKlp5jzKaS5eZ6foD5leeCwbfptqGc3eV21trtkWj24ZoM71nrs89v2y2/80qcvazRSU5925Nj7zTUE/NdKxm2+C2GrlJfTwHR27+Hz/2pJwAeJxjYGRgYADiGztOv4/nt/nKwM3OAALXbUv7YPT/////sTOxg1RyMDCBRAF/9Q1CeJxjYGRgYGcAAXaG/////2VnYmBkQAUqAFxABDgAAAB4nGNgYGBg+8/AwA6l8WGQGmSMTQwh9/8/sjwhc2AYABN5FNAAAAAAACQAfgC8ARgBRAGOAgACVAKmAt4DNAN0A9AD/ARqBOoFGAVqBdAGFgZeBsoHEgeoB+4IZgjSCXgKMgp4Co4KpAsgC5wMRgAAeJxjYGRgYFBhKGVgZwABJiDmAkIGhv9gPgMAGCQBtwB4nF2QTWqDQBiGXxOT0AihUNpVKbNqFwXzs8wBEsgygUCXRkdjUEd0EkhP0BP0BD1FD1B6rL7K140zMPN8z7zzDQrgFj9w0AwHo3ZtRo88Eu6TJsIu+V54AA+PwkP6F+ExXuELe7jDGzs47g3NBJlwj/wu3Cd/CLvkT+EBHvAlPKT/Fh5jj19hD8/O0z6NtNnstjo5Z0El1f+mqzo1hZr7MzFrXegqsDpSh6uqL8nC2ljFlcnVyhRWZ5lRZWVOOrT+0dpyOZ3G4v3Q5Hw7RQQNgw122JISnPldAarOWbfSTNR0BgUU5vxHs05mTSraXADLPWLugCvXGhe+s6C1iFnHzBjkpFXbr0lnnIambM9ONCG9j2N7q8QSU864k/eZYqc/kzdX5gAAAHicbY/JcsIwEETdgA2GECBk3xdy1EcJecAqZMnRAuTvI2xI5ZA5SN1TM9LrpJO0NUv+rwU66KKHFBn6GCDHECOcYYxzTDDFDBeY4xJXuMYNbnGHezzgEU94xgte8YZ3fGCBz6RXK/49OhxMSCsUpTUPjkZbo0JFrAqehketzO4kK1mcJkq5LqeroJQTlkgz0p7s5G9jL33mvgK31He11Jps7sLSS6/IDQSvvTQ6ijIqsi51ZZzsCrPOWqDz9mImeCU1zY+2eejI3CmLTHAtSGWWDlkGKy5oacwmXdcquEFc3FAhdd/vpI+/ZD5US2XziBMdOT/joZCGFRShZUOUNp1c094z6aka15a20gTXuIkTPEKEmrUpZ60vzE7/dg45mDNCcsUO5EnyA2xqidIAAAA=) format('woff');
  font-weight: normal;
  font-style: normal;
}

// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
$icons: (
          play: 'f101',
          play-circle: 'f102',
          pause: 'f103',
          volume-mute: 'f104',
          volume-low: 'f105',
          volume-mid: 'f106',
          volume-high: 'f107',
          fullscreen-enter: 'f108',
          fullscreen-exit: 'f109',
          square: 'f10a',
          spinner: 'f10b',
          subtitles: 'f10c',
          captions: 'f10d',
          chapters: 'f10e',
          share: 'f10f',
          cog: 'f110',
          circle: 'f111',
          circle-outline: 'f112',
          circle-inner-circle: 'f113',
          hd: 'f114',
          cancel: 'f115',
          replay: 'f116',
          facebook: 'f117',
          gplus: 'f118',
          linkedin: 'f119',
          twitter: 'f11a',
          tumblr: 'f11b',
          pinterest: 'f11c',
          audio-description: 'f11d',
          audio: 'f11e',
          next-item: 'f11f',
          previous-item: 'f120',
          scale-up-screen: 'f121',
          scale-down-screen: 'f122',
          share-social-line: 'f123',
);

// NOTE: This is as complex as we want to get with SCSS functionality.
//
// Now that we have a map of icons above, we can iterate over that map and create an icon class
// for each icon in that list. The iterator below produces CSS classes like this:
//
// .vjs-icon-play {
//   font-family: VideoJS;
//   font-weight: normal;
//   font-style: normal;
// }
// .vjs-icon-play:before { content: "\25b6"; }
//
// We can then use @extend in the codebase when we need to add an icon to a class. @extend builds up
// the selectors for you so you can avoid duplication. This is generally a bad idea, but since each
// icon should only be extended one or two other places, we'll roll with it.
@each $name, $content in $icons {
  .vjs-icon-#{$name} {
    font-family: $icon-font-family;
    font-weight: normal;
    font-style: normal;

    &:before {
      content: char($content);
    }
  }
}
